<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="css/style.css" />
    <title>Admin Login</title>
  </head>
  <body class="container bg-blue-300 grid place-items-center min-h-screen">
    <div class="bg-white p-5 py-6 min-w-80">
      <h1 class="text-xl text-blue-500 text-center">Espace Admin</h1>
      <div class="erreur p-3 text-red-800 bg-red-100 mt-6 rounded">
        Mot de passe ou Email incorrrects
      </div>
      <form action="#" method="post" class="pt-1">
        <div class="flex flex-col">
          <label for="username" class="font-bold pb-1">Username</label>
          <input
            type="text"
            class="border px-2 py-1"
            placeholder="example@example.com"
            name="username"
            id="username"
            required
          />
        </div>
        <div class="flex flex-col pt-2">
          <label for="password" class="font-bold pb-1">Password</label>
          <input
            type="password"
            class="border px-2 py-1"
            placeholder="yourpassword"
            name="password"
            id="password"
            required
          />
        </div>
        <div class="mt-4">
          <input
            class="w-full text-white bg-blue-500 py-2 hover:bg-blue-600"
            type="submit"
            value="Se connecter"
          />
        </div>
      </form>
    </div>
  </body>
</html>
